
.MuiPaper-root.problemcard.MuiPaper-elevation2.MuiPaper-rounded {
    margin-bottom:1rem;
    display: flex;
    height: auto;
    justify-content: space-between;
}

p.MuiTypography-root.problemTitle.MuiTypography-body1 {
    padding: 0.8rem;
    font-size: 1.1rem;
    font-family: sans-serif;
}

p.MuiTypography-root.problemDifficulty.MuiTypography-body1 {
    margin: .8rem;
    color:rgb(18, 231, 18);
    font-weight: 550;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.solveButton {
    margin-top: .5rem;
    color: white;
    width:auto;
    background-color: #3f51b5;
    height: 2.2rem;
    margin-right: 1rem;
}