a.link {
    text-decoration: none;
}

p.MuiTypography-root.dstitle.MuiTypography-body1 {
    font-size: 2.5rmrem;
    padding-top: 3rem;
    font-family: sans-serif;
}
.MuiPaper-root.DScard.MuiPaper-elevation2.MuiPaper-rounded:hover {
    box-shadow: 0 9px 17px 0 rgba(0,0,0,0.2);
   }
.MuiPaper-root.DScard.MuiPaper-elevation2.MuiPaper-rounded {
    cursor: pointer;
    height: 8rem;
    margin: 4rem;
}