.MuiPaper-root.mainBar.MuiPaper-elevation3.MuiPaper-rounded {
    margin:2rem;
    margin-top: 7rem;
    display: flex;
    height:auto;
    justify-content: space-between;
}
p.MuiTypography-root.algoHeading.MuiTypography-body1 {
    font-size: 3rem;
    margin: 2rem;
    margin-right:0;
    font-weight: bold;
}
.MuiFormControl-root.MuiTextField-root.algoField {
    margin: 2rem;
    margin-left:.9rem;
    width:17rem;
}
input.MuiInputBase-input.MuiOutlinedInput-input::placeholder {
    font-size: 1.6rem;
    font-family: sans-serif;
}


@media only screen and (max-width: 600px) {
    p.MuiTypography-root.algoHeading.MuiTypography-body1 {
        font-size: 2rem;
        margin-top:1.5rem;    
    } 
  }

 